[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/franciscoabh
[access "refs/for/refs/*"]
	read = group user/franciscoabh
	push = group user/franciscoabh
	label-Code-Review = -2..+2 group user/franciscoabh
	label-Verified = -1..+1 group user/franciscoabh
	rebase = group user/franciscoabh
	removeReviewer = group user/franciscoabh
	submit = group user/franciscoabh
[access "refs/heads/*"]
	read = group user/franciscoabh
	create = group user/franciscoabh
	push = +force group user/franciscoabh
	pushMerge = group user/franciscoabh
[access "refs/tags/*"]
	push = +force group user/franciscoabh
	pushTag = group user/franciscoabh
	pushSignedTag = group user/franciscoabh
